* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff !important;
  color: #020617;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.page-content {
  padding-top: 80px; /* navbar height */
}
